<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
<p>{% extends 'flatpages/default.html' %}</p>
<!-- Название у нас будет products -->
{% load custom_filters %}
{% load custom_tags %}
<p>{% block title %} Posts {% endblock title %}</p>
<!-- В контенте на странице мы выводим все товары -->
<p>{% block content %}</p>

<h1>Текущее время: {% current_time '%b %d %Y' %}</h1>
<form action="" method="get" >
 {{ filterset.form.as_p }}

    <input type="submit" class="mt-3 btn-primary" value="Найти"  />

</form>
{% if posts %}
<h1>Все новости:</h1>
<p>{% for post in posts %}</p>
<table style="width: 150vh">
    <tbody>
        <tr>
         <td><strong><a href='{{ post.id }}'>{{ post.title|truncatewords:20|censor  }}</a></strong></td>
         <td style="width: 10vh; text-align: right;"><em>{{ post.date|date_tag_post }}</em></td>
        </tr>
    </tbody>
</table>
{% endfor %}
{% else %}
<h1>Пока новостей нету</h1>
{% endif %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}

   {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

<p>{% endblock content %}</p>