<p>{% extends 'flatpages/default.html' %}</p>
{% load custom_filters %}
{% load custom_tags %}
<p>{% block title %} Post {% endblock title %}</p>

<p>{% block content %}</p>
<table style="width: 150vh;">
<tbody>
<tr style="height: 54.7656px;">
<td style="text-align: center; height: 54.7656px;">
<h3><strong>{{ post.title|censor }}</strong></h3>
</td>
</tr>
<tr style="height: 120px;">
<td style=" text-align: left; height: 120px;">{{ post.text|censor }}</td>
</tr>
</tbody>
</table>
<table style="width: 150vh;">
<tbody>
<tr>
<td style="width: 80vh;"><strong>Добавил: {{ post.author }}</strong></td>
    <td style="width: 20vh;">
        <strong>Категория:
            {% for num in postcategory %}
             {% if num.post == post %}
               {{ num.category }}
             {% endif %}
            {% endfor %}</strong></td>
<td style="width: 50vh; text-align: right;"><em>Дата добавления:&nbsp;{{ post.date|date_tag_post }}</em></td>
</tr>
</tbody>
</table>
<p>{% endblock content %}</p>